{% extends "base.html" %}

{% block content %}
  <div class="auth-container">
    <h1>Activation link invalid</h1>
    <p>We're sorry, but the activation link you clicked is invalid or has expired.</p>
    
    <div class="alert alert-warning">
      <p>Possible reasons:</p>
      <ul>
        <li>The account has already been activated.</li>
        <li>The link has expired for security reasons.</li>
        <li>The URL was copied incorrectly.</li>
      </ul>
    </div>
    
    <p>Please try <a href="{% url 'signup' %}">signing up again</a> or contact support if the issue persists.</p>
  </div>
{% endblock %}