<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/d1343b3c1c.js" crossorigin="anonymous"></script>
    <title>FlexTime Manager</title>
</head>
<body>
  {% include "navbar.html" %}

  <div id="app" class="pt-16"></div>

  {% load static %}
  <script type="module" src="{% static 'js/app.js' %}"></script>
</body>
</html>